@import url('layout.css');
@import url('module.css');

* {
    box-sizing: border-box;
}

:root {
    --primery--color:#3f3f3f;
}

 section {
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
}

p {
    font-size: large;
    
}