@import url('layout.css');
@import url('module.css');
@import url('flex.css');
@import url('grid.css');
* {
    box-sizing: border-box;
}

:root {
    --primery--color:#3f3f3f;
}

 .grid-container, section {
    display: flex;
    border: solid 1px gray;
    justify-content: center;
    align-items: center;
}

p {
    font-size: large;
    
}

.a {
    width: 100%;
    height: 75px;
    background-color: green;
}