


/* Desktop  */ 
@media screen and (min-width: 768px) {
 
  * {
    box-sizing: border-box;
  }

  body {
    width: 960px;
    margin: auto;
  }
  section {
    border:solid 1px gray;
    justify-content: center;
    text-align: center;
  }
  
  .a {
    width: 960px;
    height: 100px;
    background-color: darkolivegreen;
  }
  .b {
    float: left;
    width: 200px;
    height: 600px;
    background-color: lightslategrey;
  }
  .c {
    float:left;
    width: 380px;
    height: 200px;
    background-color: lightseagreen;
  }
  .d {
    float: left;
    width: 380px;
    height: 200px;
    background-color: lightgreen;
  }
  .e, .f, .g, .h {
    float: left;
    width: 190px;
    height: 250px;
    background-color: khaki;
  }
  
  .i {
    float: left;
    width: 760px;
    height: 150px;
    background-color: hotpink;
  }
}